*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container{
  /* margin-left: 2rem; */
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputs{
  display: none;
  margin-top: 4rem;
  width: 530px;
}
input{
  width: 100%;
  height: 2rem;
  border: 1px solid #ccc;

}
input::placeholder{
  font-size: 20px;
}

textarea{
  margin-top: 2rem;
  border: 1px solid #ccc;
}
textarea::placeholder{
  font-size: 20px;
}
.noteArea{
  width: 530px;
}

.note{
  width: 100%;
  height: 12rem;
  margin-top: 2rem;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
}
.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.note-body{
  overflow: hidden;
  height: 90px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.show{
  display: block;
}
.notShow{
  display: none;
}
.title{
  text-transform: capitalize;
}
button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}
.deleteBtn,.closeBtn{
  background-color: red;
}
.readMore-container{
  position: absolute;
  display: none;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
}
.read-container{
  margin: 50px auto;
  width: 600px;
  height: 80%;
  overflow-x:auto;
  background-color: #ffff;
  padding: 20px;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.readHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* Default styles for larger screens */
.container {
  max-width: 600px;
}

.inputs {
  width: 530px;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .container {
    max-width: 80%;
  }

  .inputs {
    width: 100%;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .container {
    max-width: 100%;
    margin: 20px;
    padding: 10px;
  }

  .inputs {
    width: 100%;
    margin-top: 2rem;
  }

  .noteArea,
  .note {
    width: 100%;
  }
  
  .inputForTitle,
  textarea {
    width: calc(100% - 20px);
  }

  .read-container {
    width: calc(100% - 40px);
  }
}

